body
{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#ffdf0020;
}

header
{
    margin:0;
    padding:0;
    color:white;
    background-color:#0A5694;
}

header h2
{
    /*background-image:url(/images/dens/arrowoflightinsignia.png);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: content-box, padding-box;
    position : center;*/
    margin:0;
    margin-left:1em;
}
header h1::before
{
    padding:0;
    margin:0;
    margin-right:32px;
    width:120px;
    height:120px;
    line-height:120px;
    content: url(../images/logo.png);
}
header h1
{
    font-size:3em;
    font-size:6vw;
    margin:0;
    padding:0;
    line-height: 120px;
    line-height: 10vw;
    display:flex;
}
header h1 *
{
    margin-top:auto;
    margin-bottom:auto;
}

#construction
{
    position:absolute;
    top:10px;
    right:10px;
    border:2px dashed red;
    margin:0.5em;
    padding:0.25em;
    display:none;
}

menu
{
    display: flex;
    justify-content: space-between;
    margin:0;
    padding:0;
    margin-top:1em;
    padding-bottom:0.25em;
}
menuitem:first-child
{
    padding-left:1em;
}
menuitem:last-child
{
    padding-right:1em;
}
menuitem
{
    white-space: nowrap;
    text-align:center;
}
menuitem a, menuitem a:visited
{
    color:white;   
}
article
{
    margin:0.55em;
    padding:0.5em;
    /*border:1px solid grey;*/
    text-align: Justify;
    margin-bottom:1em;
}

aside
{
    /*display:none;*/
    margin:1em;
    padding:0.75em;
    border:8px solid #0A5694;
    float:right;
    border-radius: 25px;
    background-color:white;

}

aside ol{padding:0;margin:0em 0em 0em 1em;}

/** call out boxes for blog */

section.blog
{
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    /*column-count:2;*/
}
section.blog article
{
    /*break-inside:avoid-column;*/
    margin:0px;
    padding:2px;
    padding-bottom:0em;
    margin-bottom:0.25em;
    /*background-color:white;*/
}
section.blog article .content
{
    padding:0.25em;
    margin:0.25em;
}
section.blog article h2 {margin-top:0em;}
section.blog article .tools
{
    text-align:right;
    font-size:smaller;
    padding:0em;
    margin:0em;
    margin-bottom:0px;
    padding-bottom:5px;
    padding-right:0.25em;
}

section.blog article .tools a
{
    padding-bottom:0;
    margin:0;
}

section.blog article .tools .qrcode {display:none;}
section.blog article .tools .direct{}

main, section
{
    margin:0.5em;
    padding:0.5em;
}

main p {text-align: justify;}

.sample_latin:after
{
    content:" - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";
}

/*main ul li a svg{font-size: 0.25em important!;}*/

a[href^="http://"]::after
{
    content:"";
}

a i.added, a svg.added/*, a i, a svg*/
{
    margin: 0 0.25em;
    padding: 0em;
    font-size: 0.67em;
}

.fa-external-link-alt
{
    font-size: 0.5em;
    vertical-align: super;
}

/*form table, form table tr, form table td{border:0;}*/
form {display:table;}
form div{display:table-row;}
form div label, form div input {display:table-cell;}

footer
{
    font-size:smaller;
    border-top:1px solid #0A5694;
    margin-top:1em;
    padding-bottom:1em;
    padding-top:0.25em;
    padding-left: 0.5em;
}

#foot_copy #foot_links {float:left;padding-left:1em;}
#foot_contact {float:right;padding-right:1em;}

table, td, th{border:1px solid black;}

p img {float:left;margin-right:25px;}

hr {border-top-color:#0A5694;}

#footer_debug{display:none;}
#ios8, #iosSEland, #iosSEport, #iosOther {display:none;}

#draft_marker
{
    font-size: 10em;
    color: #0A5694;
    position: absolute;
    top:45%;
    width:700px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    opacity: 0.25;
}
