/** iphone  8+ */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait)
{
     
}

/** iphone  8 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait)
{
     
}

/** iphone SE */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait)
{
}

/******************************************************************************/
/* iPhone 8 plus */

@media only screen
    and (max-width : 414px)
    and (min-device-width : 414px)
    and (orientation : portrait)
{/* this works */
    header h1
    {
        /*font-size:2.5em;
        line-height:1em;*/
        font-size:12vw;
        line-height: 1.2em;
    }
    
    #construction {font-size:1em;top:4.5em;}
    #construction {display:none;}
    
    menu {display:inline;}
    menuitem {font-size:1.4em;padding:0.25em;margin:0.25em;text-align:justify;}
    
    aside{display:none;}
    
    #ios8 {display: list-item;}
}

/******************************************************************************/
/* iPhone SE */

@media only screen
    and (max-width : 320px)
    and (min-device-width : 320px)
    and (orientation : portrait)
{
    /* this works */
    header h1
    {
        /*font-size:1.75em;
        line-height:1.25;*/
        font-size : 10.8vw;
        line-height: 1.2em;
    }
    
    #construction {font-size:0.90em;top:5em;}
    #construction {display:none;}
    
    menu {display:inline;}
    menuitem {font-size:1.4em;padding:0.25em;margin:0.25em;text-align:justify;}
    
    aside{display:none;}
    
    #iosSEport { display: list-item; }
}

@media only screen
    /*and (max-width: 568px;)*/
    and (max-width : 320px)
    and (min-device-width:320px)
    and (orientation : landscape)
{
    header h1
    {
        font-size:2.5em;
        line-height:2em;
        font-size : 9vw;
        line-height: 1.2em;
    }
    
    #construction {font-size:1em;top:4.5em;}
    
    menu {display:inline;}
    menuitem {font-size:1.4em;padding:0.25em;margin:0.25em;text-align:justify;}
    
    aside{display:none;}
    
    #iosSEland {display: list-item;}
    
}

/******************************************************************************/
/* other */

@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : landscape)
{
    header h1{}
    
    #iosOther {display: list-item;}
    
}
